.rootContainer {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #0F52BA;
}

.rootContainer::-webkit-scrollbar {
    display: none;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}