.rootContainer {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.rootContainer::-webkit-scrollbar {
    display: none;
}

.mainContainer {
    display: flex;
    justify-content: center;
    margin: 12px;
}
