.rootContainer {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #3D8361;
}

.rootContainer::-webkit-scrollbar {
    display: none;
}

.mainContainer {
    display: flex;
    justify-content: center;
    margin: 24px 12px;
}