.progressBarContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 20px;
}

.progressBar {
    position: relative;
    width: 100%;
    background-color: #e0e0df;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.progressBarFill {
    height: 20px;
    background-color: #4c2b8b;
    transition: width 0.2s ease-in-out;
}

.progressBarPercentage {
    position: absolute;
    width: 100%;
    color: black;
    top: 0;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0 auto;
}
