.checkbox {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    text-shadow: none;
    gap: 5px;
    align-items: center;
    opacity: 0.3;
}

.active {
    opacity: 1;
}

.checkbox input {
    font-size: 18px;
}

.checkboxTitle {
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: left;
}